.recommend {
    margin-bottom: 70px;

    &__title {
        color: rgb(255, 255, 255);
        font-family: "Raleway";
        font-size: 22px;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: 0%;
        text-align: left;
        margin-bottom: 27px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 24px;
    }
}